.navbar .navbar-collapse .nav-item a.modes, .navbar .navbar-collapse .nav-item .modes-sel {
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  color: #334545;
  display: inline-block;
}

.navbar .navbar-collapse .navbar-nav .nav-item a {
  text-decoration: none;
}

.var-sel, .varlink {
  display:block;
  width:100%;
  padding:.25rem 1.5rem;
  clear:both;
  font-weight:400;
  color:#212529;
  text-align:inherit;
  white-space:nowrap;
  background-color:transparent;
  border:0
}

.varlink:focus,
.varlink:hover {
  color:#16181b;
  text-decoration:none;
  background-color:#f8f9fa
}

.var-sel {
  color:#6c757d;
  pointer-events:none;
  background-color:transparent
}

.identfile A, .searchfile A, button, input {
  color: inherit;
}

.indexstate, .fline {
  background-color: inherit;
}

pre.searchtext {
  border-width: 0;
  white-space: normal;
  margin-top: 5px;
  margin-bottom: 5px;
}

.searchref th, .identref th {
  background-color: rgba(61,174,233,.1);
}

.indexstate {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
